# Python Environment
venv/
__pycache__/
*.pyc
packages/

temp_clean_output/
derby.log
metastore_db/

# Results (Generated Charts)
results/

# Jupyter
.ipynb_checkpoints/

# IDE Settings
.vscode/
.idea/
.DS_Store
